.App {
  text-align: center;
}

body {
  background-color: black;
  color: white;
}


.title {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
}


.section-title {
  font-size: 1.75rem;
}

.photo-day-container {
  margin: 5rem 0;
}

.photoDay {
  margin-top: 5rem;
}

.rover-container {
  margin: 7.5rem 0;
}


.photo-of-the-day {
  padding: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
 
}

.apod-image {
  width: 50%;
  height: auto;
  
}

.apod-title {
  font-size: 1.5rem;
}

.apod-explanation {
  font-size: .7rem;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
}

.search-box-apod {
  display: flex;
  margin-left: 4.5rem;
  margin-bottom: -4rem;
  
}

.apod-word-box {
  margin: 0 auto;
  width: 40%;
  height: auto;
}

.rover-photo-box {
  width: 97.5%;
  margin: 2rem auto;
}

.rover-photo-box > img {
  width: 22%;
  height: auto;
  padding: .5rem;
}


.search-box-rover {
  display: flex;
  margin-left: 4.5rem;
  margin-bottom: -1rem;
  
}

@media only screen and (max-width: 900px) {
  .photo-of-the-day {
    display: flex;
    flex-direction: column;
  }
  .apod-image {
    width: 100%;
  }
  .apod-word-box {
    width: 100%;
  }
}
