.App {
  text-align: center;
}

body {
  background-color: black;
  color: white;
}


.title {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
}


.section-title {
  font-size: 1.75rem;
  text-align: left;
  margin-left: 8rem;
  margin-bottom: 2.5rem;
}

.photo-day-container {
  margin: 0rem 0 10rem 0;
}

.photoDay {
  margin-top: 5rem;
}

.rover-container {
  margin: 7.5rem 0;
}


.photo-of-the-day {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 2rem auto;
 
}

.apod-image {
  max-width: 50%;
  height: auto;
  max-height: 70vh;
  
}

.apod-title {
  font-size: 1.5rem;
}

.apod-explanation {
  font-size: .9rem;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
}

.search-box-apod {
  display: flex;
  margin-left: 8rem;
  margin-bottom: -4rem;
  
}

.apod-word-box {
  margin: 0 auto;
  max-width: 40%;
  height: auto;
}

.rover-photo-box {
  width:90%;
  margin: 2rem auto;
}

.rover-photo-box > img {
  width: 22%;
  height: auto;
  padding: .5rem;
}


.search-box-rover {
  display: flex;
  margin-left: 8rem;
  width: fit-content;
 
  margin-bottom: -1rem;
  
}

.select-box-rover {
  display: flex;
  float: right;
  margin-right: 8rem;
  margin-bottom: -1rem;
}

.image-label {
  margin-right: 1rem;
}

.insight-container {
  margin: 0 auto;
  width: 90%;
  position: relative;
}

.insight-image {
  margin: 1rem 0 3rem 0;
  width: 90%;
}

.weather-box {
  position: absolute;
  top: 12.5rem;
  left: 5rem;
  padding: 2rem 0;
  width: 200px;
  z-index: 3;
  background-color: rgba(22, 22, 22, .75);
  border-radius: 25px;
}

.weather-word-container {
  text-shadow: 1px 1px 1px rgba(22, 22, 22, .75);
  max-width: 500px;
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 2.5rem;
  left: 25rem;
}

.sol-box {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}

.left {
  margin-top: 1.5rem;
}

.left:hover {
  cursor: pointer;
}

.right {
  margin-top: 1.5rem;
}

.right:hover {
  cursor: pointer;
}

.exit-to-insight {
  position: absolute;
  z-index: 3;
  bottom: 5rem;
  right: -32rem;
  font-size: 3rem;
  text-decoration: none;
  color: rgb(235, 229, 229);
  text-shadow: 1px 1px 1px rgba(22, 22, 22, .75);
}



@media only screen and (min-width: 1500px) {
    body {
      max-width: 75%;
      margin: 0 auto;
    }
}

@media only screen and (max-width: 900px) {
  .photo-of-the-day {
    display: flex;
    flex-direction: column;
  }
  .apod-image {
    width: 100%;
  }
  .apod-word-box {
    width: 100%;
  }
}
